.scrolled {
  background-color: black;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  height: 5rem;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 0 2rem;
  align-items: center;

  .nav-left {
    gap: 2rem;

    .brand {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 4rem;
        width: auto;
      }

      .links {
        list-style-type: none;
        gap: 1rem;
        margin: 0;

        li {
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }

  .nav-right {
    gap: 1rem;

    .search {
      display: flex;
      gap: 0.4rem;
      align-items: center;
      justify-content: center;
      padding: 0.2rem;
      padding-left: 0.5rem;

      .btn-search {
        background-color: transparent;
        border: none;
        color: white;
        &:focus {
          outline: none;
        }
      }

      input {
        width: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;
        background-color: transparent;
        border: none;
        color: white;
        &:focus {
          outline: none;
        }
      }
    }

    .show-search {
      border: 1px solid white;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.6);

      input {
        width: 100%;
        opacity: 1;
        visibility: visible;
        padding: 0.3rem;
        border: none;
      }
    }

    .btn-logout {
      background-color: transparent;
      border: none;
      cursor: pointer;
      background-color: #f34242;
      color: white;
      padding: 2px;
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }
  }
}
