.card-slider {
  gap: 1rem;
  position: relative;

  h2 {
    position: relative;
    margin-left: 50px;
    top: 4.5rem;
  }

  .wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    height: max-content;
    padding-top: 3rem;
    margin-bottom: 10px;

    &::-webkit-scrollbar {
      height: 0.3rem;

      &-thumb {
        background-color: #ffffff39;
        width: 0.1rem;
        border-radius: 1rem;
      }
    }

    .card-slider-container {
      width: max-content;
      gap: 2rem;
      transform: translateX(0px);
      transition: 0.3s ease-in-out;
      margin-left: 60px;
      padding-right: 60px;
      padding-bottom: 3rem;
      padding-top: 4rem;
    }
  }
}
