.card-slider {
  gap: 1rem;
  position: relative;
  padding: 2rem 0;

  h1 {
    margin-left: 50px;
  }

  .wrapper {
    .card-slider-container {
      width: max-content;
      gap: 1rem;
      transform: translateX(0px);
      transition: 0.3s ease-in-out;
      margin-left: 50px;
    }

    .slider-action {
      position: absolute;
      z-index: 99;
      height: 100%;
      top: 0;
      bottom: 0;
      width: 50px;
      transition: 0.3s ease-in-out;
      svg {
        font-size: 1.5rem;
      }
    }

    .none {
      display: none !important;
    }

    .left {
      left: 0;
    }

    .right {
      right: 0;
    }
  }
}
