.select-genre {
  margin-left: 5rem;
  font-size: 1.3rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 0.3rem;
  border-radius: 0.4rem;

  &:focus {
    outline: none;
  }

  option {
    color: black;
    font-size: 1rem;
  }
}
